<section data-ng-controller="HomeController">

	  <section id="section-1">
	    <div data-ng-include="'/modules/core/views/sections/slider.html'"></div>
  	</section>
  
    <section id="section-2" class="section white-section">
      <div data-ng-include="'/modules/core/views/sections/sobre.html'"></div>
    </section>

    <section id="section-3" class="section red-section">
      <div data-ng-include="'/modules/core/views/sections/compromisso.html'"></div>
    </section>

  <!--  <section id="section-8" class="section grey-section">
      <div data-ng-include="'/modules/core/views/sections/noticias.html'"></div>
    </section> -->

    <section id="section-5" class="section white-section">
        <div data-ng-include="'/modules/core/views/sections/superintendencias.html'"></div>
    </section>

    <section id="section-6" class="section white-section">
        <div data-ng-include="'/modules/core/views/sections/mapas.html'"></div>
    </section>
    
    <section id="section-4" class="section grey-section">
        <div data-ng-include="'/modules/core/views/sections/competencias.html'"></div>
    </section>

     <section id="section-7" class="section white-section">
        <div data-ng-include="'/modules/core/views/sections/contato.html'"></div>
    </section>
    
    <section id="section-10" class="section no-padding red-section">
      <div style="height: 400px; background: #d9cccc"></div>
    </section>


</section>