<!-- <div class="white-shape">
    <div class="icon-container fixed border-radius"><i class="fa"></i></div>
</div> -->
<div class="section-container">
    <div class="container">
        <div class="big-title">
            <h3>NOSSAS <span>COMPETÊNCIAS</span></h3>
            <div class="border-title"></div>
        </div>
        <div class="box text-justify lei">
            <p><strong>Conforme descrito no art. 3º da Lei municipal nº 429/2007.</strong></p>
            <ul>
                <li>contribuir e coordenar a formulação do Plano de Ação do Governo Municipal e de programas gerais e setoriais inerentes à secretaria;</li>
                <li>garantir a prestação de serviços municipais de acordo com as diretrizes de governo;</li>
                <li>elaborar Plano de Desenvolvimento Econômico para o município, atualizando-o permanentemente;</li>
                <li>estabelecer diretrizes para a atuação da Secretaria; </li>
                <li>estabelecer objetivos para o conjunto de atividades da Secretaria, vinculados a prazos e políticas para sua consecução; </li>
                <li>promover a integração com órgãos e entidades da Administração Municipal, objetivando o cumprimento de atividades setoriais; </li>
                <li>promover contatos e relações com autoridades e organizações dos diferentes níveis governamentais, estadual, federal além do privado;</li>
                <li>promover o acompanhamento técnico-gerencial dos projetos de desenvolvimento econômico do município; </li>
                <li>promover a atração e implantação de novas empresas no município; bem como a implantação de um Parque Industrial e de serviços satélites às grandes empresas já instaladas.</li>
                <li>promover a atualização tecnológica das empresas existentes no Município;</li>
                <li>promover pesquisas científicas, voltadas para a melhoria da qualidade de vida, aumento da produtividade e outras demandas e potencialidades da população de Teixeira de Freitas; </li>
                <li>promover as potencialidades econômicas do município de Teixeira de Freitas; </li>
                <li>coordenar o processo de concessões de áreas públicas para investimentos de interesse do município;</li>
                <li>coordenar os programas e projetos de fomento e divulgação do turismo e de outras atividades promotoras de aumento de divisas ao município de Teixeira de Freitas; </li>
                <li>planejar e coordenar campanhas institucionais administrativas e instrutivas à população.</li>
            </ul>
        </div>
    </div>
</div>