<div class="section-container">
    <div class="container">
        <div class="big-title">
            <h3>NOSSOS <span>COMPROMISSOS</span></h3>
            <!-- <div class="border-title"></div> -->
        </div>
    </div>
    <section class="no-padding red-section" style="height: 200px">
        <div class="row-fluid">
            <div class="container">
                <div id="compromissos" class="col-md-6" style="margin-top: -55px; margin-left: -15px;">
                    <div  class="section-container nopadding">
                        <div startslider></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pull-right myimg"></div>
        </div>
    </section>
</div>
<div class="clearfix"></div>