<div class="topslider_s" style="height: 550px;">
    <!-- <carousel style="height: 600px;" interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel> -->
    <div topslider></div>
</div>
<!-- <div class="iphone" style="background: #d90000; z-index: 1000;" bs-affix data-offset-top="550" >
    <div class="container text-center">
        <a href="#section-3" du-smooth-scroll du-scrollspy>COMPROMISSOS</a>
        <a href="#section-8" du-smooth-scroll du-scrollspy>NOTÍCIAS</a>
        <a href="#section-5" du-smooth-scroll du-scrollspy>SUPERINTENDÊNCIAS</a>
        <a href="#section-6" du-smooth-scroll du-scrollspy>MAPAS</a>
    </div>
</div> -->

<!-- <div id="sliderwrapper">
    <div topslider></div>
</div> -->