<div class="section-container">
    <div class="container">
        <div class="big-title">
        	<!-- <span class="fa-stack fa-lg pull-left" >
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
			</span> -->
			<h3>SOBRE O <span>SITE</span></h3>
            <div class="border-title"></div>
        </div>
        <div class="box text-justify">
			<p>
				Pensando em aproximar mais o cidadão da nossa administração, esse site se torna um embrião do processo de modernização da estrutura de planejamento do município.
			</p>
			<p>
				Nosso objetivo é que você, cidadão e usuário, fique por dentro das informações dos planos, projetos, programas e ações da nossa gestão e dos avanços alcançados, ou ainda, dos desafios que enfrentaremos para atingir uma melhor qualidade de vida para nossa população.
				
			</p>
			<p>
				Nos comprometemos em entregar a você um conteúdo objetivo e descomplicado, técnico mas acessível, dos principais fatores que influenciam diretamente no dia-a-dia do nosso povo, nas mais diversas áreas. Esperamos sinceramente que esse site reflita o esforço dessa equipe na compreensão dos munícipes, quanto ao trabalho, o respeito e da seriedade desse governo.
			</p>
		</div>
    </div>
</div>